name: Terraform Init

on:
  workflow_call:

permissions:
  contents: read

jobs:
  terraform-init:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login with Managed Identity
        uses: azure/login@v2
        with:
          auth-type: IDENTITY

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform