name: "Terraform Orchestrator"

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      action:
        description: 'Choose Terraform action'
        required: true
        default: 'init'
        type: choice
        options:
        - init
        - plan
        - apply
        - destroy

permissions:
  contents: read

jobs:
  terraform-init:
    if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'init')
    uses: ./.github/workflows/temp/terraform-init.yml

  terraform-plan:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'plan'
    environment: production
    uses: ./.github/workflows/temp/terraform-plan.yml

  terraform-apply:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'apply'
    environment: production
    uses: ./.github/workflows/temp/terraform-apply.yml

  terraform-destroy:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'destroy'
    uses: ./.github/workflows/temp/terraform-destroy.yml